fastapi
uvicorn
python-multipart
PyMuPDF
spacy
scikit-learn
nltk
transformers
torch
joblib
requests
python-dotenv
Jinja2
markdownify

# PDF parsing
pdfminer.six
pdfplumber
lxml

# NER model (small)
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
